/* 
notes:
    > If the screen size is 600px wide or less, hide the element
        div.example {
            display: none;
        }
*/

.outside {
    background: #E50914 url(img/redBG.jpg);
}

body{
    width: 100vw;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:20px;
        }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:30px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:100px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:100px;
    }
}
