/* Side navbar */
    .sidepanel  {
        position: fixed;
        z-index: 3;
        top: 0;
        left:0;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;

    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px;
        color:#444;
        padding-top:30px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        color:#444;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        color: #E50914;
    }
